{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "css",
          "css",
          "html",
          "javascript",
          "markup",
          "scss",
          "yaml"
        ],
        "plugins": [
          "line-numbers"
        ],
        "theme": "twilight",
        "css": true
      }
    ]
  ]
}